In [2]:
import pandas as pd

## Load the mapping file

In [3]:
mapping = pd.read_csv('mgnify_new_mapping.tsv', sep='~')

In [5]:
mapping

               record_id          record_description             new_id
0       MGYP000017370639       MGYP000017370639 CR=1  mgnify_new_000000
1       MGYP000141687144       MGYP000141687144 FL=1  mgnify_new_000001
2       MGYP000201096298       MGYP000201096298 FL=0  mgnify_new_000002
3       MGYP000239944854       MGYP000239944854 FL=0  mgnify_new_000003
4       MGYP002770020956       MGYP002770020956 FL=1  mgnify_new_000004
...                  ...                         ...                ...
210966  MGYP002635398857       MGYP002635398857 FL=1  mgnify_new_210966
210967  MGYP001077638744       MGYP001077638744 FL=1  mgnify_new_210967
210968  MGYP001403011521  MGYP001403011521 FL=1 CR=1  mgnify_new_210968
210969  MGYP001403025022  MGYP001403025022 FL=1 CR=1  mgnify_new_210969
210970  MGYP003382292971       MGYP003382292971 FL=1  mgnify_new_210970

[210971 rows x 3 columns]

In [7]:
mapping.head()

          record_id     record_description             new_id
0  MGYP000017370639  MGYP000017370639 CR=1  mgnify_new_000000
1  MGYP000141687144  MGYP000141687144 FL=1  mgnify_new_000001
2  MGYP000201096298  MGYP000201096298 FL=0  mgnify_new_000002
3  MGYP000239944854  MGYP000239944854 FL=0  mgnify_new_000003
4  MGYP002770020956  MGYP002770020956 FL=1  mgnify_new_000004

In [8]:
mapping.to_csv('mgnify_new_mapping.csv')

In [4]:
mapping = pd.read_csv('mgnify_new_mapping.csv', index_col=0)

In [5]:
mapping.shape[0]

210971

In [11]:
mapping.columns

Index(['record_id', 'record_description', 'new_id'], dtype='object')

## Add biomes info

In [73]:
biomes_info = pd.read_csv('mgnify_biomes_filtered.csv', index_col=0)

In [74]:
biomes_info.shape[0]

207952

In [75]:
biomes_info.columns

Index(['record_id', 'record_description', 'new_id', 'id', 'number', 'biome'], dtype='object')

In [77]:
biomes_info

,record_id,record_description,new_id,id,number,biome
Unnamed: 0,,,,,,
9105,MGYP002725762103,MGYP002725762103 FL=0 CR=1,mgnify_new_009105,MGYP002725762103,1.0,root:Environmental:Aquatic:Marine
78996,MGYP002725764543,MGYP002725764543 FL=0 CR=1,mgnify_new_078996,MGYP002725764543,1.0,root:Environmental:Aquatic:Marine
89453,MGYP002725775134,MGYP002725775134 FL=0 CR=1,mgnify_new_089453,MGYP002725775134,1.0,root:Environmental:Aquatic:Marine
15452,MGYP001573091426,MGYP001573091426 FL=1 CR=1,mgnify_new_015452,MGYP001573091426,1.0,root:Environmental:Aquatic:Freshwater:Groundwater
17637,MGYP001573097175,MGYP001573097175 FL=1 CR=1,mgnify_new_017637,MGYP001573097175,1.0,root:Environmental:Aquatic:Marine:Oceanic
...,...,...,...,...,...,...
141426,MGYP003498785539,MGYP003498785539 FL=0,mgnify_new_141426,MGYP003498785539,1.0,root:Mixed
141427,MGYP003498791288,MGYP003498791288 FL=1,mgnify_new_141427,MGYP003498791288,1.0,root:Mixed
152885,MGYP003498832954,MGYP003498832954 FL=0,mgnify_new_152885,MGYP003498832954,1.0,root:Mixed
179014,MGYP003498769501,MGYP003498769501 FL=0,mgnify_new_179014,MGYP003498769501,1.0,root:Mixed
196000,MGYP003498845096,MGYP003498845096 FL=1 CR=1,mgnify_new_196000,MGYP003498845096,1.0,root:Mixed

There are proteins present in multiple biomes

In [78]:
biomes_info['record_id'].value_counts()

record_id
MGYP000371549065    31
MGYP000551423224    16
MGYP000725395332    15
MGYP000353910527    14
MGYP000572067002    14
                    ..
MGYP001490564323     1
MGYP001490612089     1
MGYP001490565037     1
MGYP001490554927     1
MGYP003498845096     1
Name: count, Length: 185655, dtype: int64

In [79]:
biomes_info[biomes_info['record_id'] == 'MGYP000371549065']['biome'].value_counts()

biome
root                                                                         1
root:Host-associated:Birds:Digestive system:Digestive tube                   1
root:Host-associated:Mammals:Respiratory system                              1
root:Host-associated:Mammals:Digestive system:Large intestine:Fecal          1
root:Host-associated:Mammals:Digestive system:Large intestine                1
root:Host-associated:Mammals:Digestive system:Fecal                          1
root:Host-associated:Mammals:Digestive system                                1
root:Host-associated:Human:Skin:Naris                                        1
root:Host-associated:Human:Skin                                              1
root:Host-associated:Human:Digestive system:Large intestine:Sigmoid colon    1
root:Host-associated:Human:Digestive system:Large intestine:Fecal            1
root:Host-associated:Human:Digestive system:Large intestine                  1
root:Host-associated:Human:Digestive system:Intestine                        1
root:Host-associated:Human:Digestive system                                  1
root:Host-associated:Birds:Digestive system:Digestive tube:Cecum             1
root:Host-associated:Birds                                                   1
root:Engineered:Food production                                              1
root:Environmental:Terrestrial:Soil:Permafrost                               1
root:Environmental:Aquatic:Thermal springs:Near-boiling (>90C)               1
root:Environmental:Aquatic:Thermal springs:Hot (42-90C)                      1
root:Environmental:Aquatic:Marine:Oceanic:Sediment                           1
root:Environmental:Aquatic:Marine                                            1
root:Environmental:Aquatic:Lentic:Brackish                                   1
root:Environmental:Aquatic:Freshwater:Lotic:Sediment                         1
root:Environmental:Aquatic:Freshwater                                        1
root:Engineered:Wastewater:Water and sludge                                  1
root:Engineered:Wastewater                                                   1
root:Engineered:Solid waste:Composting                                       1
root:Engineered:Modeled:Simulated communities (microbial mixture)            1
root:Engineered:Food production:Dairy products                               1
root:Mixed                                                                   1
Name: count, dtype: int64

In [80]:
biomes_info['biome_list'] = biomes_info['biome'].apply(lambda x: x.split(':'))

In [81]:
biomes_info

,record_id,record_description,new_id,id,number,biome,biome_list
Unnamed: 0,,,,,,,
9105,MGYP002725762103,MGYP002725762103 FL=0 CR=1,mgnify_new_009105,MGYP002725762103,1.0,root:Environmental:Aquatic:Marine,"[root, Environmental, Aquatic, Marine]"
78996,MGYP002725764543,MGYP002725764543 FL=0 CR=1,mgnify_new_078996,MGYP002725764543,1.0,root:Environmental:Aquatic:Marine,"[root, Environmental, Aquatic, Marine]"
89453,MGYP002725775134,MGYP002725775134 FL=0 CR=1,mgnify_new_089453,MGYP002725775134,1.0,root:Environmental:Aquatic:Marine,"[root, Environmental, Aquatic, Marine]"
15452,MGYP001573091426,MGYP001573091426 FL=1 CR=1,mgnify_new_015452,MGYP001573091426,1.0,root:Environmental:Aquatic:Freshwater:Groundwater,"[root, Environmental, Aquatic, Freshwater, Gro..."
17637,MGYP001573097175,MGYP001573097175 FL=1 CR=1,mgnify_new_017637,MGYP001573097175,1.0,root:Environmental:Aquatic:Marine:Oceanic,"[root, Environmental, Aquatic, Marine, Oceanic]"
...,...,...,...,...,...,...,...
141426,MGYP003498785539,MGYP003498785539 FL=0,mgnify_new_141426,MGYP003498785539,1.0,root:Mixed,"[root, Mixed]"
141427,MGYP003498791288,MGYP003498791288 FL=1,mgnify_new_141427,MGYP003498791288,1.0,root:Mixed,"[root, Mixed]"
152885,MGYP003498832954,MGYP003498832954 FL=0,mgnify_new_152885,MGYP003498832954,1.0,root:Mixed,"[root, Mixed]"
179014,MGYP003498769501,MGYP003498769501 FL=0,mgnify_new_179014,MGYP003498769501,1.0,root:Mixed,"[root, Mixed]"
196000,MGYP003498845096,MGYP003498845096 FL=1 CR=1,mgnify_new_196000,MGYP003498845096,1.0,root:Mixed,"[root, Mixed]"

In [82]:
def get_level(x, level):
    try:
        return x['biome_list'][level]
    except:
        return 'unknown'

In [83]:
biomes_info['source'] = biomes_info.apply(lambda x: get_level(x, 1), axis=1)

In [84]:
biomes_info['source'].value_counts()

source
Environmental      100408
Host-associated     69470
Engineered          30830
Mixed                7223
unknown                21
Name: count, dtype: int64

In [85]:
biomes_info[biomes_info['source'] == 'Host-associated']

,record_id,record_description,new_id,id,number,biome,biome_list,source
Unnamed: 0,,,,,,,,
57743,MGYP000951012502,MGYP000951012502 FL=0,mgnify_new_057743,MGYP000951012502,1.0,root:Host-associated:Human:Digestive system,"[root, Host-associated, Human, Digestive system]",Host-associated
64989,MGYP000951021381,MGYP000951021381 FL=1,mgnify_new_064989,MGYP000951021381,1.0,root:Host-associated:Human:Digestive system,"[root, Host-associated, Human, Digestive system]",Host-associated
82708,MGYP000951012983,MGYP000951012983 FL=0,mgnify_new_082708,MGYP000951012983,1.0,root:Host-associated:Human:Digestive system,"[root, Host-associated, Human, Digestive system]",Host-associated
98966,MGYP000950927454,MGYP000950927454 FL=1,mgnify_new_098966,MGYP000950927454,1.0,root:Host-associated:Human:Digestive system,"[root, Host-associated, Human, Digestive system]",Host-associated
101478,MGYP000950999387,MGYP000950999387 FL=1,mgnify_new_101478,MGYP000950999387,1.0,root:Host-associated:Human:Digestive system,"[root, Host-associated, Human, Digestive system]",Host-associated
...,...,...,...,...,...,...,...,...
107357,MGYP000050182426,MGYP000050182426 FL=1,mgnify_new_107357,MGYP000050182426,2.0,root:Host-associated:Human:Digestive system:La...,"[root, Host-associated, Human, Digestive syste...",Host-associated
107357,MGYP000050182426,MGYP000050182426 FL=1,mgnify_new_107357,MGYP000050182426,1.0,root:Host-associated:Human:Digestive system:La...,"[root, Host-associated, Human, Digestive syste...",Host-associated
117179,MGYP000050271030,MGYP000050271030 FL=1,mgnify_new_117179,MGYP000050271030,3.0,root:Host-associated:Human,"[root, Host-associated, Human]",Host-associated
117179,MGYP000050271030,MGYP000050271030 FL=1,mgnify_new_117179,MGYP000050271030,1.0,root:Host-associated:Human:Digestive system:La...,"[root, Host-associated, Human, Digestive syste...",Host-associated
117179,MGYP000050271030,MGYP000050271030 FL=1,mgnify_new_117179,MGYP000050271030,2.0,root:Host-associated:Human:Digestive system:La...,"[root, Host-associated, Human, Digestive syste...",Host-associated

In [86]:
biomes_info['type_or_host'] = biomes_info.apply(lambda x: get_level(x, 2), axis=1)

In [87]:
biomes_info['type_or_host'].value_counts()

type_or_host
Aquatic              98328
Human                58375
Wastewater           13812
Bioreactor            7982
unknown               7580
Mammals               7352
Bioremediation        3373
Terrestrial           2074
Food production       2067
Plants                1948
Solid waste           1337
Biogas plant          1335
Birds                 1127
Algae                  549
Lab enrichment         440
Built environment      108
Invertebrates           35
Modeled                 34
Microbial               33
Arthropoda              27
Mollusca                13
Insecta                 11
Air                      6
Lab Synthesis            6
Name: count, dtype: int64

In [36]:
biomes_info.columns

Index(['record_id', 'record_description', 'new_id', 'id', 'number', 'biome',
       'biome_list', 'source', 'type_or_host'],
      dtype='object')

In [88]:
biomes_info[['record_id', 'record_description', 'new_id','source', 'type_or_host']].shape[0]

207952

In [89]:
biomes_info_reduced = biomes_info[['record_id', 'record_description', 'new_id','biome','source', 'type_or_host']].drop_duplicates()

In [90]:
biomes_info_reduced

,record_id,record_description,new_id,biome,source,type_or_host
Unnamed: 0,,,,,,
9105,MGYP002725762103,MGYP002725762103 FL=0 CR=1,mgnify_new_009105,root:Environmental:Aquatic:Marine,Environmental,Aquatic
78996,MGYP002725764543,MGYP002725764543 FL=0 CR=1,mgnify_new_078996,root:Environmental:Aquatic:Marine,Environmental,Aquatic
89453,MGYP002725775134,MGYP002725775134 FL=0 CR=1,mgnify_new_089453,root:Environmental:Aquatic:Marine,Environmental,Aquatic
15452,MGYP001573091426,MGYP001573091426 FL=1 CR=1,mgnify_new_015452,root:Environmental:Aquatic:Freshwater:Groundwater,Environmental,Aquatic
17637,MGYP001573097175,MGYP001573097175 FL=1 CR=1,mgnify_new_017637,root:Environmental:Aquatic:Marine:Oceanic,Environmental,Aquatic
...,...,...,...,...,...,...
141426,MGYP003498785539,MGYP003498785539 FL=0,mgnify_new_141426,root:Mixed,Mixed,unknown
141427,MGYP003498791288,MGYP003498791288 FL=1,mgnify_new_141427,root:Mixed,Mixed,unknown
152885,MGYP003498832954,MGYP003498832954 FL=0,mgnify_new_152885,root:Mixed,Mixed,unknown
179014,MGYP003498769501,MGYP003498769501 FL=0,mgnify_new_179014,root:Mixed,Mixed,unknown
196000,MGYP003498845096,MGYP003498845096 FL=1 CR=1,mgnify_new_196000,root:Mixed,Mixed,unknown

In [52]:
biomes_info_reduced['record_id'].value_counts().head(50)

record_id
MGYP000371549065    11
MGYP000725395332     8
MGYP000353910527     7
MGYP000551423224     7
MGYP000293256693     7
MGYP000645791045     7
MGYP000657580898     6
MGYP000002955218     6
MGYP000106494607     6
MGYP000364023379     6
MGYP000077995009     6
MGYP000619667873     6
MGYP000560279969     6
MGYP000548476916     6
MGYP000636948697     6
MGYP000138602529     6
MGYP000228131274     6
MGYP000572067002     6
MGYP000062219030     6
MGYP000526197654     6
MGYP000583860182     6
MGYP000521989815     5
MGYP000752203723     5
MGYP000424621640     5
MGYP000524882678     5
MGYP000448220018     5
MGYP000115009662     5
MGYP000050140850     5
MGYP000194675191     5
MGYP000713649849     5
MGYP000740205289     5
MGYP000203457462     5
MGYP000412833531     5
MGYP000032456354     5
MGYP000575021832     5
MGYP000194618179     5
MGYP000740147079     5
MGYP000533734656     5
MGYP000235916815     5
MGYP000663482440     5
MGYP000106161584     5
MGYP000496713130     5
MGYP000595768151     5
MGYP000189295964     5
MGYP000704768706     5
MGYP000678235513     5
MGYP000106507087     5
MGYP000377452288     5
MGYP000740146151     5
MGYP000298146740     5
Name: count, dtype: int64

In [91]:
biomes_info_reduced_uniq = biomes_info_reduced.groupby('record_id').agg(lambda x: ', '.join(set(x))).reset_index()

In [57]:
biomes_info_reduced_uniq[biomes_info_reduced_uniq['record_id'] == 'MGYP000371549065']['source'].tolist()

['unknown, Mixed, Host-associated, Engineered, Environmental']

In [58]:
biomes_info_reduced_uniq[biomes_info_reduced_uniq['record_id'] == 'MGYP000371549065']['type_or_host'].tolist()

['Wastewater, unknown, Modeled, Human, Food production, Mammals, Birds, Aquatic, Terrestrial, Solid waste']

## Add entries for which biomes annotation was not found

In [92]:
len(mapping['record_id'].tolist())

210971

In [93]:
mgnify_anno_df = mapping.merge(biomes_info_reduced_uniq, how='left', on=['record_id', 'record_description', 'new_id'])

In [94]:
mgnify_anno_df

,record_id,record_description,new_id,biome,source,type_or_host
0,MGYP000017370639,MGYP000017370639 CR=1,mgnify_new_000000,root:Host-associated:Algae:Red algae,Host-associated,Algae
1,MGYP000141687144,MGYP000141687144 FL=1,mgnify_new_000001,root:Host-associated:Human,Host-associated,Human
2,MGYP000201096298,MGYP000201096298 FL=0,mgnify_new_000002,root:Host-associated:Human:Digestive system:La...,Host-associated,Human
3,MGYP000239944854,MGYP000239944854 FL=0,mgnify_new_000003,root:Host-associated:Human:Digestive system:La...,Host-associated,Human
4,MGYP002770020956,MGYP002770020956 FL=1,mgnify_new_000004,root:Host-associated:Human:Digestive system:La...,Host-associated,Human
...,...,...,...,...,...,...
210966,MGYP002635398857,MGYP002635398857 FL=1,mgnify_new_210966,root:Environmental:Aquatic:Marine:Oceanic,Environmental,Aquatic
210967,MGYP001077638744,MGYP001077638744 FL=1,mgnify_new_210967,root:Environmental:Aquatic:Marine,Environmental,Aquatic
210968,MGYP001403011521,MGYP001403011521 FL=1 CR=1,mgnify_new_210968,root:Environmental:Aquatic:Freshwater:Lotic:Se...,Environmental,Aquatic
210969,MGYP001403025022,MGYP001403025022 FL=1 CR=1,mgnify_new_210969,root:Engineered:Wastewater:Activated Sludge,Engineered,Wastewater
210970,MGYP003382292971,MGYP003382292971 FL=1,mgnify_new_210970,root:Engineered:Wastewater:Nutrient removal:Bi...,Engineered,Wastewater

In [95]:
mgnify_anno_df['source'].value_counts()

source
Environmental                                                 93621
Host-associated                                               56829
Engineered                                                    27248
Mixed                                                          6488
Host-associated, Mixed                                          363
Host-associated, Engineered                                     316
Environmental, Engineered                                       305
Mixed, Engineered                                               260
Host-associated, Environmental                                   69
Host-associated, Mixed, Engineered                               65
Host-associated, Environmental, Engineered                       28
Mixed, Environmental, Engineered                                 15
Host-associated, Mixed, Environmental, Engineered                14
Mixed, Environmental                                              8
unknown, Host-associated                                          7
unknown                                                           7
Host-associated, Mixed, Environmental                             5
unknown, Mixed, Host-associated, Engineered                       3
unknown, Mixed, Host-associated, Engineered, Environmental        2
unknown, Host-associated, Engineered                              2
Name: count, dtype: int64

In [96]:
mgnify_anno_df[mgnify_anno_df['source'].isna()]

,record_id,record_description,new_id,biome,source,type_or_host
57,MGYP000127063761,MGYP000127063761 CR=1,mgnify_new_000057,NaN,NaN,NaN
84,MGYP000660479664,MGYP000660479664 CR=1,mgnify_new_000084,NaN,NaN,NaN
107,MGYP000861196427,MGYP000861196427 CR=1,mgnify_new_000107,NaN,NaN,NaN
130,MGYP000931411295,MGYP000931411295 CR=1,mgnify_new_000130,NaN,NaN,NaN
139,MGYP000958935768,MGYP000958935768 CR=1,mgnify_new_000139,NaN,NaN,NaN
...,...,...,...,...,...,...
210896,MGYP001456634558,MGYP001456634558,mgnify_new_210896,NaN,NaN,NaN
210908,MGYP001161015158,MGYP001161015158,mgnify_new_210908,NaN,NaN,NaN
210930,MGYP001158975212,MGYP001158975212,mgnify_new_210930,NaN,NaN,NaN
210932,MGYP001065940572,MGYP001065940572,mgnify_new_210932,NaN,NaN,NaN
210954,MGYP000182643609,MGYP000182643609 CR=1,mgnify_new_210954,NaN,NaN,NaN

In [97]:
mgnify_anno_df.to_csv('mgnify_new_mapping_anno.csv')

In [98]:
mgnify_anno_df

,record_id,record_description,new_id,biome,source,type_or_host
0,MGYP000017370639,MGYP000017370639 CR=1,mgnify_new_000000,root:Host-associated:Algae:Red algae,Host-associated,Algae
1,MGYP000141687144,MGYP000141687144 FL=1,mgnify_new_000001,root:Host-associated:Human,Host-associated,Human
2,MGYP000201096298,MGYP000201096298 FL=0,mgnify_new_000002,root:Host-associated:Human:Digestive system:La...,Host-associated,Human
3,MGYP000239944854,MGYP000239944854 FL=0,mgnify_new_000003,root:Host-associated:Human:Digestive system:La...,Host-associated,Human
4,MGYP002770020956,MGYP002770020956 FL=1,mgnify_new_000004,root:Host-associated:Human:Digestive system:La...,Host-associated,Human
...,...,...,...,...,...,...
210966,MGYP002635398857,MGYP002635398857 FL=1,mgnify_new_210966,root:Environmental:Aquatic:Marine:Oceanic,Environmental,Aquatic
210967,MGYP001077638744,MGYP001077638744 FL=1,mgnify_new_210967,root:Environmental:Aquatic:Marine,Environmental,Aquatic
210968,MGYP001403011521,MGYP001403011521 FL=1 CR=1,mgnify_new_210968,root:Environmental:Aquatic:Freshwater:Lotic:Se...,Environmental,Aquatic
210969,MGYP001403025022,MGYP001403025022 FL=1 CR=1,mgnify_new_210969,root:Engineered:Wastewater:Activated Sludge,Engineered,Wastewater
210970,MGYP003382292971,MGYP003382292971 FL=1,mgnify_new_210970,root:Engineered:Wastewater:Nutrient removal:Bi...,Engineered,Wastewater

In [99]:
mgnify_anno_df['superkingdom'] = mgnify_anno_df.shape[0]*['Metagenome']

In [101]:
mgnify_anno_df.rename(columns={'biome': 'lineage', 'source': 'kingdom'}, inplace=True)

In [107]:
mgnify_anno_df['phylum']=['unknown']*mgnify_anno_df.shape[0]

In [108]:
mgnify_anno_df['organism']=['unknown']*mgnify_anno_df.shape[0]

In [111]:
mgnify_anno_df['tax_id']=['unknown']*mgnify_anno_df.shape[0]

In [112]:
mgnify_anno_df.to_csv('mgnify_new_mapping_annotated_lin_meta.csv')

In [114]:
mgnify_anno_df[['record_id', 'record_description', 'new_id', 'organism', 'tax_id', 'lineage', 'superkingdom', 'kingdom', 'phylum']].to_csv('mgnify_new_mapping_sele.csv')

## Add domains and architectures

In [115]:
import pandas as pd

In [116]:
pd.set_option('display.max_columns', None)

In [117]:
anno_df = pd.read_csv('mgnify_new_mapping_sele.csv', index_col=0)

In [120]:
anno_df.shape

(210971, 9)

In [118]:
archs = pd.read_csv('../../mgnify_archs.csv', index_col=0)

C:\Users\terca\AppData\Local\Temp\ipykernel_11680\882258755.py:1: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  archs = pd.read_csv('../../mgnify_archs.csv', index_col=0)

In [119]:
archs.shape

(183591, 19)

In [121]:
full_df = archs.merge(anno_df, how='left', left_on='id', right_on='new_id')

In [122]:
full_df.shape

(183591, 28)

In [124]:
full_df['kingdom'].value_counts()

kingdom
Environmental                                                 78814
Host-associated                                               52389
Engineered                                                    22286
Mixed                                                          5813
Host-associated, Mixed                                          359
Host-associated, Engineered                                     302
Environmental, Engineered                                       282
Mixed, Engineered                                               246
Host-associated, Environmental                                   64
Host-associated, Mixed, Engineered                               60
Host-associated, Environmental, Engineered                       27
Mixed, Environmental, Engineered                                 15
Host-associated, Mixed, Environmental, Engineered                14
Mixed, Environmental                                              8
unknown                                                           7
Host-associated, Mixed, Environmental                             5
unknown, Host-associated                                          5
unknown, Mixed, Host-associated, Engineered                       3
unknown, Mixed, Host-associated, Engineered, Environmental        2
unknown, Host-associated, Engineered                              2
Name: count, dtype: int64

In [125]:
pfam_cols = ['PF06330.14','PF01397.24', 'PF03936.19', 'PF00494.22', 'PF13249.9', 'PF19086.3','PF13243.9']

In [126]:
supfam_cols = ['0041184','0053354', '0053355', '0048261', '0048806', '0046340', '0047573']

In [127]:
full_df['architecture_pfam'].value_counts().head(10)/full_df.shape[0]*100

architecture_pfam
['PF00494.22']                                  10.170978
['PF00494.22_partial']                           2.140628
['PF13249.9', 'PF13243.9']                       1.014211
['PF00494.22_partial', 'PF00494.22_partial']     0.666155
['PF19086.3']                                    0.649814
['PF13243.9_partial', 'PF13243.9_partial']       0.420500
['PF03936.19_partial']                           0.380193
['PF13249.9', 'PF13243.9_partial']               0.327358
['PF13243.9_partial']                            0.266353
['PF13249.9_partial', 'PF13243.9']               0.248378
Name: count, dtype: float64

In [128]:
full_df['architecture_supfam'].value_counts().head(10)/full_df.shape[0]*100

architecture_supfam
['0046340']                               82.931625
['0046340_partial']                        1.241891
['0048806_partial', '0046340']             0.478237
['0046340_partial', '0046340_partial']     0.403070
['0048806']                                0.349146
['0047573_partial', '0046340']             0.283783
['0046340', '0047573_partial']             0.277247
['0046340', '0046340_partial']             0.248378
['0046340', '0048806_partial']             0.237484
['0046340_partial', '0046340']             0.230403
Name: count, dtype: float64

In [132]:
full_df[pfam_cols].sum()/full_df.shape[0]*100

PF06330.14     0.084427
PF01397.24     0.035405
PF03936.19     0.738598
PF00494.22    13.467436
PF13249.9      3.132506
PF19086.3      1.454320
PF13243.9      3.317156
dtype: float64

In [133]:
full_df[supfam_cols].sum()/full_df.shape[0]*100

0041184     0.041396
0053354     0.024511
0053355    29.526502
0048261    10.934632
0048806    81.730586
0046340    87.421497
0047573    81.541034
dtype: float64

In [134]:
full_df.to_csv('../../mgnify_annotation.csv')