# Domain architecture analysis

In [2]:
import pandas as pd

In [3]:
import ast

In [4]:
import numpy as np

## Load the data

In [11]:
df = pd.read_csv('../data/tps_db.csv')

In [14]:
df_unique = df[['id', 'name', 'sequence', 'species', 'kingdom',
       'pfam_architecture', 'supfam_architecture', 'PF06330.14', 'PF01397.24',
       'PF03936.19', 'PF00494.22', 'PF13249.9', 'PF19086.3', 'PF13243.9',
       '0041184', '0053354', '0053355', '0048261', '0048806', '0046340',
       '0047573', 'motifs', 'DDXXD', 'NSE/DTE', 'DXDD', 'length']].drop_duplicates()

## Domain architecture

In [11]:
cols = ['id','kingdom','type','pfam_architecture','supfam_architecture']

In [ ]:
pfam_cols = [ 'PF06330.14', 'PF01397.24','PF03936.19', 'PF00494.22', 'PF13249.9', 'PF19086.3', 'PF13243.9']
supfam_cols = ['0041184', '0053354', '0053355', '0048261', '0048806', '0046340', '0047573']

In [32]:
df[df[pfam_cols+supfam_cols].sum(axis=1)==0]

,id,name,type,type_general,species,kingdom,product_names,product_counts,most_unique_product_name,most_unique_product_count,...,PF13243.9,architecture_supfam,architecture_l_supfam,0041184,0053354,0053355,0048261,0048806,0046340,0047573
61,A0A0U5GNT1,Drimenol cyclase drtB,sesq,sesq,Aspergillus calidoustus,Fungi,drimenol,[3],drimenol,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,A0A140AZ69,Terpene synthase,sesq; mono; di,mixed,Phyllotreta striolata,Insecta,β-bisabolene; (E)-α-bisabolene; (6E)-nerolidol...,"[16, 6, 16, 58, 15, 27, 27, 7, 16, 6, 3, 16, 24]",(6Z)-nerolidol,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
678,M5AW86,Trifunctional sesterterpene/triterpene/sesquar...,sester; tri; sesquar,mixed,Alkalihalobacillus clausii,Bacteria,β-geranylfarnesene; β-hexaprene; β-heptaprene,"[3, 1, 1]",β-hexaprene,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
761,P9WJ61,Tuberculosinyl adenosine transferase,di,di,Mycobacterium tuberculosis,Bacteria,(+)-copalol; manool; 13-epi-manool; (−)-ent-co...,"[1, 1, 1, 1, 1, 1, 2]",(+)-copalol,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1086,SRA.SRR18681978 (AgTS-1),Alloaromadendrene synthase,sesq; mono,mixed,Agelas clathrodes,Animalia,(+)-alloaromadendrene; β-myricene; (E)-β-ocimene,"[1, 5, 27]",(+)-alloaromadendrene,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df['pfam_architecture'] = df['pfam_architecture'].apply(lambda x: ast.literal_eval(x) if type(x) == str else x)

In [32]:
df['supfam_architecture'] = df['supfam_architecture'].apply(lambda x: ast.literal_eval(x) if type(x) == str else x)

In [30]:
def get_partial(x, column):
    if type(x[column]) == list:
        if len(x[column]) == 1 and "partial" in x[column][0]:
            return True
        return False
    else:
        return False

In [31]:
# partial pfam architectures
df[df.apply(lambda x: get_partial(x, 'pfam_architecture'), axis=1)]

,id,name,type,type_general,species,kingdom,product_names,product_counts,most_unique_product_name,most_unique_product_count,...,PF13243.9,architecture_supfam,architecture_l_supfam,0041184,0053354,0053355,0048261,0048806,0046340,0047573
102,A0A1J0CQ97,Terpene synthase 7,sesq,sesq,Anthoceros punctatus,Plantae,β-acoradiene,[2],β-acoradiene,2,...,0.0,['48576'],['48576'],0.0,0.0,1.0,1.0,1.0,1.0,1.0
685,O13284,Ent-kaur-16-ene synthase,di,di,Phaeosphaeria sp.,Fungi,ent-kaurene,[31],ent-kaurene,31,...,0.0,"['48576_partial', '48576_partial']","['48576_partial', '48576_partial']",0.0,0.0,1.0,1.0,1.0,1.0,1.0
841,Q5KSN4,"Ent-pimara-9(11),15-diene synthase",di,di,Streptomyces sp.,Bacteria,"ent-pimara-9(11),15-diene",[1],"ent-pimara-9(11),15-diene",1,...,0.0,['48576'],['48576'],0.0,0.0,1.0,1.0,1.0,1.0,1.0
1098,TmTC-1,NaN,di; sesq; mono,mixed,Tubipora musica,Coral,cembrene A; (6E)-nerolidol; linalool,"[4, 16, 27]",cembrene A,4,...,0.0,['48576'],['48576'],0.0,0.0,1.0,1.0,1.0,1.0,1.0
1131,XsTC-1,NaN,di; sesq,mixed,Xenia sp.,Coral,xeniaphyllene; (+)-β-caryophyllene; elemol,"[1, 3, 5]",xeniaphyllene,1,...,0.0,['48576'],['48576'],0.0,0.0,1.0,1.0,1.0,1.0,1.0

In [33]:
# partial supfam architectures
df[df.apply(lambda x: get_partial(x, 'supfam_architecture'), axis=1)]

,id,name,type,type_general,species,kingdom,product_names,product_counts,most_unique_product_name,most_unique_product_count,...,PF13243.9,architecture_supfam,architecture_l_supfam,0041184,0053354,0053355,0048261,0048806,0046340,0047573
72,A0A140AZ72,Terpene synthase,sesq; mono; di,mixed,Phyllotreta striolata,Insecta,(6E)-nerolidol; trans-β-farnesene; linalool; g...,"[16, 24, 27, 7, 16, 6, 3, 16]",(6Z)-nerolidol,3,...,NaN,[48576_partial],['48576_partial'],0.0,0.0,0.0,0.0,0.0,1.0,0.0
349,B2DBF0,Phyllocladan-16-alpha-ol synthase,di-int; di,mixed,Phomopsis amygdali,Fungi,"5α,9α,10β-labda-8(20),13-dien-15-yl diphosphat...","[16, 1]",phyllocladan-16α-ol,1,...,1.0,[48576_partial],['48576_partial'],0.0,0.0,0.0,0.0,1.0,1.0,0.0
684,O07854,"4,4'-diapophytoene synthase",tri,tri,Staphylococcus aureus,Bacteria,"15-cis-4,4'-diapophytoene",[2],"15-cis-4,4'-diapophytoene",2,...,0.0,[48576_partial],['48576_partial'],0.0,0.0,0.0,1.0,0.0,0.0,0.0
745,P53799,Squalene synthase 1,tri,tri,Arabidopsis thaliana,Plantae,squalene,[19],squalene,19,...,0.0,[48576_partial],['48576_partial'],0.0,0.0,0.0,0.0,1.0,0.0,0.0
787,Q2FV59,"4,4'-diapophytoene synthase",tri,tri,Staphylococcus aureus,Bacteria,"15-cis-4,4'-diapophytoene",[2],"15-cis-4,4'-diapophytoene",2,...,0.0,[48576_partial],['48576_partial'],0.0,0.0,0.0,1.0,0.0,0.0,0.0
884,Q6N3F2,Presqualene diphosphate synthase,tri-int,tri,Rhodopseudomonas palustris,Bacteria,presqualene diphosphate(3−),[4],presqualene diphosphate(3−),4,...,0.0,[48576_partial],['48576_partial'],0.0,0.0,0.0,0.0,0.0,1.0,0.0
981,Q96WT2,Aphidicolan-16-beta-ol synthase,di-int; di,mixed,Pleospora betae,Fungi,"5α,9β,10α-labda-8(20),13-dien-15-yl diphosphat...","[4, 1]",aphidicolan-16β-ol,1,...,1.0,[48576_partial],['48576_partial'],0.0,0.0,1.0,1.0,1.0,1.0,1.0

### MonoTPS

In [163]:
sele = df[df['type'].isin(['mono','mono-int'])]
sele = sele[cols].drop_duplicates(subset='id')
assert sele['id'].nunique() == sele.shape[0]

In [166]:
sele['pfam_architecture'].value_counts()

pfam_architecture
['PF01397.24', 'PF03936.19']                          200
['PF19086.3']                                          19
['PF01397.24', 'PF03936.19', 'PF03936.19_partial']      7
['PF03936.19_partial', 'PF19086.3']                     2
['PF01397.24', 'PF03936.19', 'PF19086.3_partial']       2
['PF19086.3_partial', 'PF19086.3']                      1
['PF19086.3_partial']                                   1
['PF01397.24', 'PF03936.19', 'PF01397.24_partial']      1
['PF01397.24_partial', 'PF01397.24', 'PF03936.19']      1
['PF03936.19_partial', 'PF01397.24', 'PF03936.19']      1
['PF06330.14']                                          1
Name: count, dtype: int64

In [167]:
sele['supfam_architecture'].value_counts()

supfam_architecture
['0048261']               146
['0053355']                48
['0047573']                16
['0041184', '0048261']      9
['0048806']                 6
['0046340']                 6
['0041184', '0053355']      5
['0053354', '0048261']      5
['0046340_partial']         1
Name: count, dtype: int64

### DiTPS

In [168]:
sele = df[df['type'].isin(['di','di-int'])]
sele = sele[cols].drop_duplicates(subset='id')
assert sele['id'].nunique() == sele.shape[0]

In [169]:
sele['pfam_architecture'].value_counts()

pfam_architecture
['PF01397.24', 'PF03936.19']                                                            49
['PF13243.9_partial', 'PF01397.24', 'PF03936.19']                                       35
['PF19086.3']                                                                           27
['PF13249.9_partial', 'PF01397.24', 'PF03936.19']                                       12
['PF19086.3', 'PF19086.3_partial']                                                      10
['PF01397.24_partial', 'PF01397.24', 'PF03936.19']                                       7
['PF01397.24', 'PF03936.19_partial']                                                     6
['PF19086.3', 'PF19086.3']                                                               5
['PF19086.3_partial']                                                                    4
['PF13243.9_partial', 'PF01397.24', 'PF03936.19_partial', 'PF03936.19_partial']          4
['PF01397.24', 'PF03936.19', 'PF03936.19_partial']                                       3
['PF13243.9_partial', 'PF13243.9_partial', 'PF13243.9_partial']                          3
['PF13243.9_partial', 'PF13243.9_partial']                                               3
['PF13243.9_partial', 'PF01397.24', 'PF03936.19', 'PF03936.19_partial']                  3
['PF01397.24_partial', 'PF01397.24', 'PF03936.19_partial', 'PF03936.19_partial']         2
['PF19086.3', 'PF19086.3_partial', 'PF19086.3_partial']                                  2
['PF03936.19_partial', 'PF01397.24', 'PF03936.19']                                       2
['PF13243.9_partial', 'PF13249.9_partial']                                               2
['PF01397.24_partial', 'PF01397.24', 'PF03936.19', 'PF03936.19_partial']                 2
['PF01397.24', 'PF03936.19_partial', 'PF03936.19_partial']                               2
['PF01397.24', 'PF03936.19', 'PF01397.24_partial']                                       2
['PF13249.9_partial', 'PF01397.24', 'PF03936.19', 'PF01397.24_partial']                  2
['PF13243.9_partial', 'PF13243.9_partial', 'PF13243.9_partial', 'PF19086.3']             2
['PF13243.9_partial', 'PF03936.19_partial', 'PF01397.24', 'PF03936.19']                  1
['PF13249.9_partial', 'PF01397.24_partial', 'PF01397.24', 'PF03936.19']                  1
['PF13243.9_partial', 'PF01397.24', 'PF03936.19', 'PF19086.3_partial']                   1
['PF01397.24_partial', 'PF13243.9_partial', 'PF01397.24', 'PF03936.19']                  1
['PF13243.9_partial', 'PF01397.24', 'PF03936.19_partial']                                1
['PF13249.9_partial', 'PF13243.9_partial', 'PF13243.9_partial', 'PF13243.9_partial']     1
['PF13249.9_partial', 'PF13249.9_partial', 'PF13249.9_partial', 'PF19086.3']             1
['PF19086.3', 'PF03936.19_partial']                                                      1
['PF13249.9_partial', 'PF13249.9_partial', 'PF13243.9_partial']                          1
['PF13243.9_partial', 'PF13243.9_partial', 'PF19086.3']                                  1
['PF19086.3_partial', 'PF19086.3']                                                       1
['PF19086.3_partial', 'PF19086.3_partial']                                               1
['PF01397.24', 'PF03936.19_partial', 'PF01397.24_partial']                               1
['PF01397.24_partial', 'PF01397.24', 'PF03936.19_partial']                               1
['PF19086.3', 'PF19086.3_partial', 'PF03936.19_partial']                                 1
Name: count, dtype: int64

In [170]:
sele['supfam_architecture'].value_counts()

supfam_architecture
['0041184', '0053355']                                                          55
['0041184', '0048261']                                                          23
['0047573']                                                                     16
['0053354_partial', '0041184', '0048261']                                       15
['0053355']                                                                     10
['0041184', '0053355_partial']                                                  10
['0047573', '0046340']                                                           9
['0048261']                                                                      7
['0046340']                                                                      7
['0053354_partial', '0041184', '0053355']                                        6
['0048806']                                                                      6
['0046340', '0046340']                                                           5
['0047573', '0048806']                                                           5
['0041184_partial', '0041184', '0053355']                                        3
['0041184', '0053355_partial', '0053355_partial']                                3
['0046340_partial']                                                              2
['0048806_partial', '0041184', '0053355']                                        2
['0048806_partial', '0041184', '0048261']                                        2
['0046340_partial', '0041184', '0053355']                                        2
['0053354_partial', '0048261']                                                   1
['0048806_partial', '0053355_partial', '0046340_partial']                        1
['0047573_partial', '0047573_partial', '0046340']                                1
['0053355_partial', '0048806_partial', '0053355_partial', '0046340_partial']     1
['0046340_partial', '0047573_partial']                                           1
['0048806_partial']                                                              1
['0048806_partial', '0046340_partial']                                           1
['0047573_partial', '0041184', '0048261']                                        1
['0047573_partial', '0041184', '0053355']                                        1
['0046340_partial', '0053354_partial', '0041184', '0048261']                     1
['0041184_partial', '0041184', '0048261']                                        1
Name: count, dtype: int64

### SesquiTPS

In [171]:
sele = df[df['type'].isin(['sesq','sesq-int'])]
sele = sele[cols].drop_duplicates(subset='id')
assert sele['id'].nunique() == sele.shape[0]

In [172]:
sele['pfam_architecture'].value_counts()

pfam_architecture
['PF01397.24', 'PF03936.19']                                  319
['PF19086.3']                                                 138
['PF06330.14']                                                 28
['PF19086.3_partial', 'PF19086.3']                              7
['PF01397.24', 'PF03936.19', 'PF03936.19_partial']              7
['PF01397.24', 'PF03936.19', 'PF19086.3_partial']               4
['PF01397.24_partial', 'PF01397.24', 'PF03936.19']              4
['PF01397.24', 'PF03936.19_partial']                            2
['PF19086.3_partial']                                           2
['PF01397.24_partial', 'PF03936.19', 'PF03936.19_partial']      1
['PF06330.14_partial']                                          1
['PF01397.24', 'PF03936.19_partial', 'PF03936.19']              1
['PF03936.19_partial', 'PF19086.3']                             1
['PF03936.19', 'PF03936.19_partial']                            1
['PF01397.24', 'PF03936.19', 'PF01397.24_partial']              1
['PF19086.3', 'PF19086.3_partial']                              1
['PF03936.19']                                                  1
['PF00494.22']                                                  1
['PF19086.3', 'PF03936.19_partial']                             1
['PF19086.3', 'PF19086.3']                                      1
['PF13249.9_partial', 'PF01397.24', 'PF03936.19']               1
Name: count, dtype: int64

In [173]:
sele['supfam_architecture'].value_counts()

supfam_architecture
['0048261']                                          187
['0053355']                                          145
['0047573']                                           90
['0048806']                                           73
['0046340']                                            9
['0041184', '0048261']                                 7
['0041184', '0053355']                                 5
['0053354_partial', '0041184', '0048261']              4
['0053354', '0053355']                                 2
['0047573', '0047573']                                 1
['0053354', '0048261']                                 1
['0046340_partial', '0046340_partial']                 1
['0041184', '0053355_partial', '0053355_partial']      1
['0046340_partial']                                    1
Name: count, dtype: int64

### SesterTPS

In [174]:
sele = df[df['type'].isin(['sester','sester-int'])]
sele = sele[cols].drop_duplicates(subset='id')
assert sele['id'].nunique() == sele.shape[0]

In [175]:
sele['pfam_architecture'].value_counts()

pfam_architecture
['PF19086.3', 'PF19086.3_partial']                          32
['PF19086.3', 'PF19086.3']                                   6
['PF19086.3', 'PF03936.19_partial']                          4
['PF01397.24', 'PF03936.19']                                 3
['PF19086.3', 'PF19086.3_partial', 'PF03936.19_partial']     1
['PF19086.3_partial', 'PF19086.3_partial']                   1
['PF03936.19_partial', 'PF19086.3', 'PF19086.3']             1
Name: count, dtype: int64

In [176]:
sele['supfam_architecture'].value_counts()

supfam_architecture
['0047573', '0046340']                       17
['0046340', '0046340']                       15
['0047573', '0048806']                        6
['0048806', '0046340']                        5
['0053355']                                   2
['0048261']                                   1
['0046340', '0048806']                        1
['0046340', '0048806', '0048806_partial']     1
Name: count, dtype: int64

### TriTPS

In [177]:
sele = df[df['type'].isin(['tri','tri-int'])]
sele = sele[cols].drop_duplicates(subset='id')
assert sele['id'].nunique() == sele.shape[0]

In [178]:
sele['pfam_architecture'].value_counts()

pfam_architecture
['PF13249.9', 'PF13243.9']                                 116
['PF00494.22']                                              22
['PF13249.9_partial', 'PF13243.9']                           3
['PF19086.3', 'PF19086.3_partial']                           3
['PF00494.22', 'PF00494.22_partial']                         2
['PF13243.9']                                                1
['PF13249.9', 'PF13243.9_partial', 'PF13243.9_partial']      1
Name: count, dtype: int64

In [179]:
sele['supfam_architecture'].value_counts()

supfam_architecture
['0048261_partial']       2
['0047573', '0046340']    2
['0046340']               2
['0046340_partial']       1
['0048806_partial']       1
['0046340', '0046340']    1
Name: count, dtype: int64

### SesquarTPS

In [180]:
sele = df[df['Type (mono, sesq, di, …)'].isin(['sesquar','sesquar-int'])]
sele = sele[cols].drop_duplicates(subset='id')
assert sele['id'].nunique() == sele.shape[0]

In [181]:
sele['pfam_architecture'].value_counts()

pfam_architecture
['PF13249.9', 'PF13243.9']    1
Name: count, dtype: int64

In [182]:
sele['supfam_architecture'].value_counts()

Series([], Name: count, dtype: int64)

### TetraTPS

In [183]:
sele = df[df['type'].isin(['tetra','tetra-int'])]
sele = sele[cols].drop_duplicates(subset='id')
assert sele['id'].nunique() == sele.shape[0]

In [184]:
sele['pfam_architecture'].value_counts()

pfam_architecture
['PF00494.22']                          15
['PF00494.22_partial', 'PF00494.22']     2
Name: count, dtype: int64

In [185]:
sele['supfam_architecture'].value_counts()

supfam_architecture
['0046340']                               2
['0048806_partial', '0048806_partial']    1
Name: count, dtype: int64

### Plantae

In [36]:
cols = ['id','kingdom','pfam_architecture','supfam_architecture']

In [200]:
sele = df[df['kingdom'] == 'Plantae']
sele = sele[cols].drop_duplicates(subset='id')
assert sele['id'].nunique() == sele.shape[0]

In [201]:
sele['pfam_architecture'].value_counts()

pfam_architecture
['PF01397.24', 'PF03936.19']                                                        546
['PF13249.9', 'PF13243.9']                                                           99
['PF13243.9_partial', 'PF01397.24', 'PF03936.19']                                    35
['PF00494.22']                                                                       15
['PF13249.9_partial', 'PF01397.24', 'PF03936.19']                                    13
['PF01397.24_partial', 'PF01397.24', 'PF03936.19']                                   12
['PF01397.24', 'PF03936.19', 'PF03936.19_partial']                                   12
['PF19086.3']                                                                         9
['PF01397.24', 'PF03936.19_partial']                                                  8
['PF01397.24', 'PF03936.19', 'PF19086.3_partial']                                     6
['PF01397.24', 'PF03936.19', 'PF01397.24_partial']                                    4
['PF13243.9_partial', 'PF01397.24', 'PF03936.19_partial', 'PF03936.19_partial']       4
['PF13249.9_partial', 'PF13243.9']                                                    3
['PF03936.19_partial', 'PF01397.24', 'PF03936.19']                                    3
['PF13243.9_partial', 'PF01397.24', 'PF03936.19', 'PF03936.19_partial']               3
['PF01397.24_partial', 'PF01397.24', 'PF03936.19_partial', 'PF03936.19_partial']      2
['PF00494.22_partial', 'PF00494.22']                                                  2
['PF01397.24', 'PF03936.19_partial', 'PF03936.19_partial']                            2
['PF01397.24_partial', 'PF01397.24', 'PF03936.19', 'PF03936.19_partial']              2
['PF00494.22', 'PF00494.22_partial']                                                  2
['PF13249.9_partial', 'PF01397.24', 'PF03936.19', 'PF01397.24_partial']               2
['PF06330.14_partial']                                                                1
['PF01397.24_partial', 'PF13243.9_partial', 'PF01397.24', 'PF03936.19']               1
['PF01397.24', 'PF03936.19_partial', 'PF03936.19']                                    1
['PF13243.9_partial', 'PF01397.24', 'PF03936.19', 'PF19086.3_partial']                1
['PF19086.3_partial', 'PF19086.3']                                                    1
['PF13249.9_partial', 'PF01397.24_partial', 'PF01397.24', 'PF03936.19']               1
['PF03936.19', 'PF03936.19_partial']                                                  1
['PF01397.24', 'PF03936.19_partial', 'PF01397.24_partial']                            1
['PF13243.9']                                                                         1
['PF13243.9_partial', 'PF03936.19_partial', 'PF01397.24', 'PF03936.19']               1
['PF13243.9_partial', 'PF01397.24', 'PF03936.19_partial']                             1
['PF01397.24_partial', 'PF01397.24', 'PF03936.19_partial']                            1
['PF01397.24_partial', 'PF03936.19', 'PF03936.19_partial']                            1
Name: count, dtype: int64

In [202]:
sele['supfam_architecture'].value_counts()

supfam_architecture
['0048261']                                                     329
['0053355']                                                     173
['0041184', '0053355']                                           63
['0041184', '0048261']                                           39
['0053354_partial', '0041184', '0048261']                        19
['0041184', '0053355_partial']                                   10
['0047573']                                                       9
['0053354_partial', '0041184', '0053355']                         6
['0053354', '0048261']                                            5
['0041184', '0053355_partial', '0053355_partial']                 4
['0046340']                                                       4
['0041184_partial', '0041184', '0053355']                         3
['0048806_partial', '0041184', '0053355']                         2
['0048806']                                                       2
['0048806_partial', '0041184', '0048261']                         2
['0053354', '0053355']                                            2
['0046340_partial', '0041184', '0053355']                         2
['0047573_partial', '0041184', '0048261']                         1
['0053354_partial', '0048261']                                    1
['0048806_partial']                                               1
['0047573_partial', '0041184', '0053355']                         1
['0046340_partial', '0053354_partial', '0041184', '0048261']      1
['0041184_partial', '0041184', '0048261']                         1
Name: count, dtype: int64

In [266]:
df2.columns

Index(['id', 'name', 'type', 'type_general', 'species', 'kingdom',
       'product_names', 'product_counts', 'most_unique_product_name',
       'most_unique_product_count', 'architecture_pfam', 'architecture_l_pfam',
       'PF06330.14', 'PF01397.24', 'PF03936.19', 'PF00494.22', 'PF13249.9',
       'PF19086.3', 'PF13243.9', 'architecture_supfam',
       'architecture_l_supfam', '0041184', '0053354', '0053355', '0048261',
       '0048806', '0046340', '0047573'],
      dtype='object')

In [35]:
cols2 = ['id','kingdom','PF06330.14', 'PF01397.24', 'PF03936.19', 'PF00494.22', 'PF13249.9','PF19086.3', 'PF13243.9', '0041184', '0053354', '0053355', '0048261','0048806', '0046340', '0047573']

In [45]:
pfam_cols = ['PF01397.24', 'PF03936.19','PF19086.3', 'PF06330.14', 'PF13243.9', 'PF13249.9', 'PF00494.22']

In [15]:
supfam_cols = ['0041184', '0053354', '0053355', '0048261','0048806', '0046340', '0047573']

In [47]:
sele = df2[df2['kingdom'] == 'Plantae']
sele = sele[cols2].drop_duplicates(subset='id')
assert sele['id'].nunique() == sele.shape[0]
#sele = sele[pfam_cols]
sele[pfam_cols].apply(lambda x: x.value_counts(normalize=True, dropna=False) * 100).fillna(0).loc[[1.0]]

,PF01397.24,PF03936.19,PF19086.3,PF06330.14,PF13243.9,PF13249.9,PF00494.22
1.0,83.10388,83.729662,79.098874,0.625782,18.898623,15.644556,2.377972

In [46]:
sele = df2[df2['kingdom'] == 'Plantae']
sele = sele[cols2].drop_duplicates(subset='id')
assert sele['id'].nunique() == sele.shape[0]
#sele = sele[pfam_cols]
sele[pfam_cols].apply(lambda x: x.value_counts(normalize=True, dropna=True) * 100).fillna(0).loc[[1.0]]

,PF01397.24,PF03936.19,PF19086.3,PF06330.14,PF13243.9,PF13249.9,PF00494.22
1.0,83.312422,83.939774,79.297365,0.627353,18.946048,15.683814,2.38394

In [49]:
sele[supfam_cols].apply(lambda x: x.value_counts(normalize=True, dropna=True) * 100).fillna(0).loc[[1.0]]

,0041184,0053354,0053355,0048261,0048806,0046340,0047573
1.0,97.647059,97.647059,99.264706,99.264706,99.117647,99.264706,99.117647

In [48]:
sele[supfam_cols].apply(lambda x: x.value_counts(normalize=True, dropna=False) * 100).fillna(0).loc[[1.0]]

      0041184   0053354    0053355    0048261    0048806    0046340    0047573
1.0  83.10388  83.10388  84.480601  84.480601  84.355444  84.480601  84.355444

### Red algae

In [203]:
sele = df[df['kingdom'] == 'Red algae']
sele = sele[cols].drop_duplicates(subset='id')
assert sele['id'].nunique() == sele.shape[0]

In [204]:
sele['pfam_architecture'].value_counts()

pfam_architecture
['PF19086.3']    4
Name: count, dtype: int64

In [205]:
sele['supfam_architecture'].value_counts()

supfam_architecture
['0047573']    4
Name: count, dtype: int64

In [50]:
sele = df2[df2['kingdom'] == 'Red algae']
sele = sele[cols2].drop_duplicates(subset='id')
assert sele['id'].nunique() == sele.shape[0]
#sele = sele[pfam_cols]
sele[pfam_cols].apply(lambda x: x.value_counts(normalize=True, dropna=False) * 100).fillna(0).loc[[1.0]]

,PF01397.24,PF03936.19,PF19086.3,PF06330.14,PF13243.9,PF13249.9,PF00494.22
1.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0

In [279]:
sele[supfam_cols].apply(lambda x: x.value_counts(normalize=True, dropna=False) * 100).fillna(0).loc[[1.0]]

     0041184  0053354  0053355  0048261  0048806  0046340  0047573
1.0      0.0      0.0    100.0    100.0    100.0    100.0    100.0

### Fungi

In [54]:
sele = df[df['kingdom'] == 'Fungi']
sele = sele[cols].drop_duplicates(subset='id')
assert sele['id'].nunique() == sele.shape[0]

In [207]:
sele['pfam_architecture'].value_counts()

pfam_architecture
['PF19086.3']                                                                           70
['PF19086.3', 'PF19086.3_partial']                                                      43
['PF06330.14']                                                                          29
['PF19086.3', 'PF19086.3']                                                              11
['PF13249.9', 'PF13243.9']                                                               9
['PF00494.22']                                                                           8
['PF19086.3', 'PF03936.19_partial']                                                      4
['PF19086.3_partial', 'PF19086.3']                                                       4
['PF19086.3', 'PF19086.3_partial', 'PF03936.19_partial']                                 2
['PF19086.3', 'PF19086.3_partial', 'PF19086.3_partial']                                  2
['PF13243.9_partial', 'PF13243.9_partial', 'PF13243.9_partial', 'PF19086.3']             2
['PF13243.9_partial', 'PF13249.9_partial']                                               2
['PF19086.3_partial']                                                                    1
['PF13243.9_partial', 'PF13243.9_partial', 'PF19086.3']                                  1
['PF13243.9_partial', 'PF13243.9_partial']                                               1
['PF13249.9', 'PF13243.9_partial', 'PF13243.9_partial']                                  1
['PF19086.3_partial', 'PF19086.3_partial']                                               1
['PF03936.19_partial', 'PF19086.3', 'PF19086.3']                                         1
['PF03936.19_partial', 'PF19086.3']                                                      1
['PF13249.9_partial', 'PF13249.9_partial', 'PF13249.9_partial', 'PF19086.3']             1
['PF13249.9_partial', 'PF13243.9_partial', 'PF13243.9_partial', 'PF13243.9_partial']     1
Name: count, dtype: int64

In [208]:
sele['supfam_architecture'].value_counts()

supfam_architecture
['0047573']                                                                     49
['0048806']                                                                     45
['0047573', '0046340']                                                          26
['0046340', '0046340']                                                          19
['0047573', '0048806']                                                          11
['0046340']                                                                      6
['0053355']                                                                      6
['0048806', '0046340']                                                           5
['0048806_partial']                                                              1
['0047573_partial', '0047573_partial', '0046340']                                1
['0053355_partial', '0048806_partial', '0053355_partial', '0046340_partial']     1
['0046340', '0048806', '0048806_partial']                                        1
['0046340', '0048806']                                                           1
['0048806_partial', '0046340_partial']                                           1
['0048261']                                                                      1
['0046340_partial', '0047573_partial']                                           1
['0046340_partial']                                                              1
['0048806_partial', '0053355_partial', '0046340_partial']                        1
Name: count, dtype: int64

In [55]:
sele = df2[df2['kingdom'] == 'Fungi']
sele = sele[cols2].drop_duplicates(subset='id')
assert sele['id'].nunique() == sele.shape[0]
sele[pfam_cols].apply(lambda x: x.value_counts(normalize=True, dropna=False) * 100).fillna(0).loc[[1.0]]

,PF01397.24,PF03936.19,PF19086.3,PF06330.14,PF13243.9,PF13249.9,PF00494.22
1.0,0.0,54.591837,87.244898,18.877551,8.673469,7.142857,4.081633

In [52]:
sele[supfam_cols].apply(lambda x: x.value_counts(normalize=True, dropna=False) * 100).fillna(0).loc[[1.0]]

     0041184  0053354   0053355    0048261    0048806    0046340    0047573
1.0      0.0      0.0  88.77551  89.795918  90.306122  90.306122  89.795918

### Bacteria

In [53]:
sele = df[df['kingdom'] == 'Bacteria']
sele = sele[cols].drop_duplicates(subset='id')
assert sele['id'].nunique() == sele.shape[0]

In [210]:
sele['pfam_architecture'].value_counts()

pfam_architecture
['PF19086.3']                                                      45
['PF00494.22']                                                     12
['PF13249.9', 'PF13243.9']                                          4
['PF13243.9_partial', 'PF13243.9_partial', 'PF13243.9_partial']     3
['PF03936.19_partial', 'PF19086.3']                                 2
['PF13243.9_partial', 'PF13243.9_partial']                          2
['PF19086.3', 'PF19086.3']                                          1
['PF19086.3', 'PF03936.19_partial']                                 1
['PF19086.3_partial']                                               1
['PF13249.9_partial', 'PF13249.9_partial', 'PF13243.9_partial']     1
Name: count, dtype: int64

In [211]:
sele['supfam_architecture'].value_counts()

supfam_architecture
['0048806']                               27
['0047573']                               17
['0046340']                                5
['0048261_partial']                        2
['0053355']                                2
['0047573', '0047573']                     1
['0046340_partial']                        1
['0048806_partial', '0048806_partial']     1
Name: count, dtype: int64

In [56]:
sele = df2[df2['kingdom'] == 'Bacteria']
sele = sele[cols2].drop_duplicates(subset='id')
assert sele['id'].nunique() == sele.shape[0]
sele[pfam_cols].apply(lambda x: x.value_counts(normalize=True, dropna=False) * 100).fillna(0).loc[[1.0]]

,PF01397.24,PF03936.19,PF19086.3,PF06330.14,PF13243.9,PF13249.9,PF00494.22
1.0,0.0,42.666667,66.666667,10.666667,13.333333,13.333333,16.0

In [57]:
sele[supfam_cols].apply(lambda x: x.value_counts(normalize=True, dropna=False) * 100).fillna(0).loc[[1.0]]

     0041184  0053354  0053355    0048261  0048806    0046340  0047573
1.0      0.0      0.0     68.0  70.666667     68.0  70.666667     68.0

### Coral

In [217]:
sele = df[df['kingdom'] == 'Coral']
sele = sele[cols].drop_duplicates(subset='id')
assert sele['id'].nunique() == sele.shape[0]

In [218]:
sele['pfam_architecture'].value_counts()

pfam_architecture
['PF19086.3']                                 13
['PF19086.3_partial']                          2
['PF03936.19']                                 1
['PF19086.3_partial', 'PF19086.3_partial']     1
Name: count, dtype: int64

In [219]:
sele['supfam_architecture'].value_counts()

supfam_architecture
['0047573']    10
['0053355']     4
['0046340']     2
['0048806']     1
Name: count, dtype: int64

In [60]:
sele = df2[df2['kingdom'] == 'Coral']
sele = sele[cols2].drop_duplicates(subset='id')
assert sele['id'].nunique() == sele.shape[0]
sele[pfam_cols].apply(lambda x: x.value_counts(normalize=True, dropna=False) * 100).fillna(0).loc[[1.0]]

,PF01397.24,PF03936.19,PF19086.3,PF06330.14,PF13243.9,PF13249.9,PF00494.22
1.0,0.0,17.647059,100.0,0.0,0.0,0.0,0.0

In [302]:
sele[supfam_cols].apply(lambda x: x.value_counts(normalize=True, dropna=False) * 100).fillna(0).loc[[1.0]]

     0041184  0053354  0053355  0048261  0048806  0046340  0047573
1.0      0.0      0.0    100.0    100.0    100.0    100.0    100.0

### Animalia (Marine Sponge)

In [222]:
sele = df[df['kingdom'] == 'Animalia (Marine Sponge)']
sele = sele[cols].drop_duplicates(subset='id')
assert sele['id'].nunique() == sele.shape[0]

In [223]:
sele['pfam_architecture'].value_counts()

pfam_architecture
['PF19086.3']                         3
['PF19086.3_partial', 'PF19086.3']    2
Name: count, dtype: int64

In [224]:
sele['supfam_architecture'].value_counts()

supfam_architecture
['0047573']    5
Name: count, dtype: int64

### Amoebozoa

In [225]:
sele = df[df['kingdom'] == 'Amoebozoa']
sele = sele[cols].drop_duplicates(subset='id')
assert sele['id'].nunique() == sele.shape[0]

In [226]:
sele['pfam_architecture'].value_counts()

pfam_architecture
['PF19086.3']                         14
['PF13249.9', 'PF13243.9']             1
['PF00494.22']                         1
['PF19086.3_partial', 'PF19086.3']     1
Name: count, dtype: int64

In [227]:
sele['supfam_architecture'].value_counts()

supfam_architecture
['0047573']    8
['0048806']    7
Name: count, dtype: int64

In [62]:
sele = df2[df2['kingdom'] == 'Amoebozoa']
sele = sele[cols2].drop_duplicates(subset='id')
assert sele['id'].nunique() == sele.shape[0]
sele[pfam_cols].apply(lambda x: x.value_counts(normalize=True, dropna=False) * 100).fillna(0).loc[[1.0]]

,PF01397.24,PF03936.19,PF19086.3,PF06330.14,PF13243.9,PF13249.9,PF00494.22
1.0,0.0,35.294118,88.235294,0.0,5.882353,5.882353,5.882353

In [63]:
sele[supfam_cols].apply(lambda x: x.value_counts(normalize=True, dropna=False) * 100).fillna(0).loc[[1.0]]

     0041184  0053354    0053355    0048261    0048806    0046340    0047573
1.0      0.0      0.0  88.235294  88.235294  88.235294  88.235294  88.235294

### Insecta

In [37]:
sele = df[df['kingdom'] == 'Insecta']
sele = sele[cols].drop_duplicates(subset='id')
assert sele['id'].nunique() == sele.shape[0]

In [38]:
sele['pfam_architecture'].value_counts()

Series([], Name: count, dtype: int64)

In [39]:
sele['supfam_architecture'].value_counts()

supfam_architecture
['0046340']                               5
['0046340_partial', '0046340_partial']    1
['0046340_partial']                       1
Name: count, dtype: int64

In [40]:
sele = df2[df2['kingdom'] == 'Insecta']
sele = sele[cols2].drop_duplicates(subset='id')
assert sele['id'].nunique() == sele.shape[0]
sele[pfam_cols].apply(lambda x: x.value_counts(normalize=True) * 100).fillna(0)

Empty DataFrame
Columns: [PF06330.14, PF01397.24, PF03936.19, PF00494.22, PF13249.9, PF19086.3, PF13243.9]
Index: []

In [42]:
sele[supfam_cols].apply(lambda x: x.value_counts(normalize=True, dropna=False) * 100).fillna(0).loc[[1.0]]

     0041184  0053354  0053355  0048261  0048806  0046340  0047573
1.0      0.0      0.0     12.5     12.5     50.0     87.5     25.0

### Animalia

In [231]:
sele = df[df['kingdom'] == 'Animalia']
sele = sele[cols].drop_duplicates(subset='id')
assert sele['id'].nunique() == sele.shape[0]

In [232]:
sele['pfam_architecture'].value_counts()

pfam_architecture
['PF13249.9', 'PF13243.9']    4
['PF19086.3']                 3
['PF00494.22']                3
Name: count, dtype: int64

In [233]:
sele['supfam_architecture'].value_counts()

supfam_architecture
['0047573']    3
Name: count, dtype: int64

In [64]:
sele = df2[df2['kingdom'] == 'Animalia']
sele = sele[cols2].drop_duplicates(subset='id')
assert sele['id'].nunique() == sele.shape[0]
sele[pfam_cols].apply(lambda x: x.value_counts(normalize=True, dropna=False) * 100).fillna(0).loc[[1.0]]

,PF01397.24,PF03936.19,PF19086.3,PF06330.14,PF13243.9,PF13249.9,PF00494.22
1.0,0.0,0.0,46.666667,0.0,26.666667,26.666667,20.0

In [66]:
sele[supfam_cols].apply(lambda x: x.value_counts(normalize=True,dropna=False) * 100).fillna(0).loc[[1.0]]

     0041184  0053354    0053355    0048261    0048806    0046340    0047573
1.0      0.0      0.0  46.666667  46.666667  46.666667  46.666667  46.666667

In [70]:
df2[cols2].drop_duplicates()[pfam_cols].apply(lambda x: x.value_counts(normalize=True, dropna=False) * 100).fillna(0).loc[[1.0]]

,PF01397.24,PF03936.19,PF19086.3,PF06330.14,PF13243.9,PF13249.9,PF00494.22
1.0,58.657244,72.173145,79.151943,4.416961,16.254417,13.69258,3.798587

In [71]:
df2[cols2].drop_duplicates()[supfam_cols].apply(lambda x: x.value_counts(normalize=True, dropna=False) * 100).fillna(0).loc[[1.0]]

,0041184,0053354,0053355,0048261,0048806,0046340,0047573
1.0,58.657244,58.657244,83.392226,83.745583,83.833922,84.363958,83.568905